{% extends "AppCoder/padre.html" %}

{% block contenido %}   
<!--FORMULARIO-->
<section class="formulario_nuevo">
    <h2>Formulario - Agregar Curso</h2>

    {% if formulario_curso.errors %}
    <p style="color: red;">Los datos estan mal. Por favor reviselos.</p>
    {% endif %}
    
    <form action="{% url 'cursos' %}" method="POST">
        {% csrf_token %}
        <label for="">Curso:</label>
        <input type="text" name="curso">
        <label for="">Camada:</label>
        <input type="number" name="camada">
        <input type="submit" value="Enviar">
    </form>  
</section>

<style>
    .formulario_nuevo form label{
        font-size: 20px;
    }
</style>

{% endblock %}

