{% extends "AppCoder/padre.html" %}

{% block contenido %}
<!--FORMULARIO-->
<section class="formulario_nuevo">
    <h2>Formulario - Agregar Entregable</h2>

    {% if formulario_curso.error %}
        <p style="color: red;">Los datos estan mal. Por favor reviselos.</p>
    {% endif %}

    <form action="{% url 'entregables' %}" method="POST">
        {% csrf_token %}
        <legend>
            <label for="">Nombre:</label>
            <input type="text" name="nombre">
            <label for="">Fecha de entrega:</label>
            <input type="date" name="fechadeentrega">
            <label for="">Entregado:</label>
            <input type="checkbox" class="check" name="entregado">
            <input type="submit" value="Enviar">
        </legend>
            
    </form>  
</section>

<style>
.formulario_nuevo form label{
font-size: 20px;
}
.formulario_nuevo input{
font-size: 17px;
}
.formulario_nuevo .check{
    margin-left: 8px;
    margin-right: 10px;
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
     padding: 10px;
}
</style>
{% endblock %}