{% extends "AppCoder/padre.html" %}

{% block contenido %}
<!--FORMULARIO-->
<section class="formulario_nuevo">
            <h2>Formulario - Agregar Estudiante</h2>
            <form action="" method="">
                <legend>
                    <label for="">Nombre</label>
                    <input type="text">
                    <label for="">Apellido</label>
                    <input type="text">
                    <label for="">Email</label>
                    <input type="email">
                    <label for="">Profesion</label>
                    <input type="text">
                </legend>
                <input type="submit" value="Buscar">
            </form>  
</section>
{% endblock %}